<h1 class="mt-3">About Turbo Winner</h1>

<p>
    Project Codename Turbo Winner is an online, networked, massively-multiplayer game.
    It is top-down bounty-hunter game. Players join and are randomly assigned a target to find and kill.
    Your score increases when you kill your target, but decreases if you kill anyone else or if you die.
</p>

<p>
    Turbo Winner also allows you to log in using your Google account; if you do,
    then when you leave the game your player color, score, and nickname will be persisted
    for when you next want to play. Just sign in again to continue where you left off.
</p>

<p>
    The frontend for Project Turbo Winner is hosted by
    <a href="https://surge.sh/">Surge.sh</a>, and the backend
    is hosted by <a href="https://www.heroku.com/">Heroku</a>.
</p>
