<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['/']">Turbo Winner</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <ng-container *ngLet="(currentUserObservable | async) as currentUser">
                    <li *ngIf="!!currentUser" class="nav-item mr-4">
                        <span class="navbar-text">
                            Welcome, <strong>{{currentUser.displayName}}</strong>
                        </span>
                    </li>
                    
                    <li class="nav-item" [routerLinkActive]="['active']">
                        <a class="nav-link" [routerLink]="['/about']">About</a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="['active']">
                        <a class="nav-link" [routerLink]="['/play']">Play</a>
                    </li>
                    
                    <li class="nav-item" [routerLinkActive]="['active']">
                        <a class="nav-link" [routerLink]="['/account']">{{!!currentUser ? 'Account' : 'Sign In'}}</a>
                    </li>
                </ng-container>
            </ul>
        </div>
    </div>
</nav>
